<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Timerent - Maandrapport</title>
</head>
<style>
    html {
        font-family: Arial, Helvetica, sans-serif;
        -webkit-print-color-adjust:exact !important;
        print-color-adjust:exact !important;
    }

    table {
        border: 1px solid #dddddd;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
    }

    tr.background {
        background-color: #dddddd;
    }
</style>
<body style="padding: 3rem 1.5rem;">
    <div style="text-align: center; margin-bottom: 3rem;">
        <h1>Timerent - Maandrapport</h1>
        <h4>Periode 12 - 1 t/m 31 december 2024</h4>
    </div>

    <div>
        <table>
            <tr>
                <th>Omschrijving</th>
                <th>Specificatie</th>
                <th>Bedrag</th>
                <th>Aantal</th>
            </tr>
            <tr>
                <td>Operationele omzet</td>
                <td>Omzet BTW hoog</td>
                <td>&euro;12.303,09</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Bedrag BTW hoog</td>
                <td>&euro;2.135,25</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Omzet BTW laag</td>
                <td>&euro;682,00</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Bedrag BTW laag</td>
                <td>&euro;118,36</td>
                <td></td>
            </tr>

            <tr class="background">
                <td>Klantenaantal</td>
                <td></td>
                <td></td>
                <td>48</td>
            </tr>
            <tr>
                <td>Reserveringaantal</td>
                <td></td>
                <td></td>
                <td>72</td>
            </tr>

            <tr class="background">
                <td>Timerent Payments fee</td>
                <td></td>
                <td>&euro; 57,60</td>
                <td></td>
            </tr>

<!--            <tr>-->
<!--                <td>Ingeleverde Timerent cadeaukaart</td>-->
<!--                <td></td>-->
<!--                <td>&euro;129,40</td>-->
<!--                <td></td>-->
<!--            </tr>-->
        </table>
    </div>

</body>
</html>