@tailwind base;
@tailwind components;
@tailwind utilities;

* {font-family: 'General Sans', sans-serif}
.noscrollbar::-webkit-scrollbar {
    display: none;
}

.bx { @apply h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600 text-2xl inline-flex justify-center }

button, .btn, input, textarea, select { @apply outline-none focus:outline-none }
input { font-size: 16px !important; }
input * { font-size: 16px !important; }
input { @apply block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 }

.smooth { @apply transition duration-150 ease-in-out }
.hoverme:not(:hover) .showme { @apply hidden }

.btn { @apply font-medium rounded px-5 py-2 transition duration-150 ease-in-out text-xs inline-flex items-center justify-center cursor-pointer; }
.btn-lg { @apply px-6 py-3.5 text-sm; }
.btn.primary { @apply bg-indigo-500 text-white }
.btn-secondary { @apply bg-gray-200 hover:opacity-90; }
.icon-btn { @apply h-8 w-8 bg-indigo-500 text-white rounded p-1 hover:bg-indigo-800 cursor-pointer }
.icon-btn-red { @apply h-8 w-8 bg-red-500 text-white rounded p-1 hover:bg-red-800 cursor-pointer }

.required-star { @apply text-xl text-red-500 }
/*.btn-secondary { @apply bg-gray-100 text-black hover:bg-gray-200; }*/
/*.btn-danger { @apply bg-red-500 text-white hover:bg-red-600; }*/
/*.btn-warning { @apply bg-yellow-500 text-white hover:bg-yellow-600; }*/
/*.btn-success { @apply bg-green-500 text-white hover:bg-green-600; }*/

/*.checkbox { @apply focus:ring-secondary h-4 w-4 text-secondary border-gray-200 rounded-md block; }*/

/*.card { @apply bg-white border border-gray-200 overflow-hidden rounded-md shadow-sm; }*/
/*.card .title { @apply leading-none font-medium p-4 border-b border-gray-200 text-sm text-black; }*/
/*.card table:not(.regular-table) { @apply w-full text-sm text-gray-600; }*/
/*.card table:not(.regular-table) th { @apply font-bold text-xs px-2 py-2.5 text-left border-b border-gray-200 bg-white uppercase text-gray-800; }*/
/*.card table:not(.regular-table) th::after { @apply absolute left-0 right-0 h-px bg-gray-200; content: ""; bottom: -1px; }*/
/*.card table:not(.regular-table) td { @apply px-2 py-2.5 border-b border-gray-200; }*/
/*.card table:not(.regular-table).thick td { @apply py-4; }*/
