@tailwind base;
@tailwind components;
@tailwind utilities;

.noscrollbar::-webkit-scrollbar {
    display: none;
}

.bx { @apply h-6 w-6 shrink-0 text-gray-400 group-hover:text-indigo-600 text-2xl inline-flex justify-center }

button, .btn, input, textarea, select { @apply outline-none focus:outline-none }
input { font-size: 16px !important; }
input * { font-size: 16px !important; }
.input { @apply min-h-9 block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 }
input:not([type="checkbox"]) { @apply block w-full rounded-md border-0 px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6  }
.input-icon { @apply border-gray-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5 rounded-md shadow-sm h-10 w-10 flex items-center justify-center hover:shadow cursor-pointer border }

.smooth { @apply transition duration-150 ease-in-out }
.hoverme:not(:hover) .showme { @apply hidden }

.btn { @apply font-medium rounded px-5 py-2 transition duration-150 ease-in-out text-xs inline-flex items-center justify-center cursor-pointer; }
.btn-lg { @apply px-6 py-3.5 text-sm; }
.btn-primary { @apply bg-indigo-500 text-white hover:bg-indigo-800 }
.btn-primary-disabled { @apply bg-indigo-900 text-white }
.btn-secondary { @apply bg-gray-200 hover:opacity-90; }
.btn-danger { @apply bg-red-500 text-white hover:bg-red-800 }
.btn-warning { @apply bg-orange-500 text-white hover:bg-orange-800 }
.btn-success { @apply bg-green-500 text-white hover:bg-green-800 }
.icon-btn { @apply h-8 w-8 bg-indigo-500 text-white rounded p-1 hover:bg-indigo-800 cursor-pointer }
.icon-btn-red { @apply h-8 w-8 bg-red-500 text-white rounded p-1 hover:bg-red-800 cursor-pointer }

.label { @apply text-xs font-semibold py-1 px-2 uppercase rounded text-gray-600 bg-gray-200 items-center }
.label-danger { @apply text-red-600 bg-red-200 }
.label-success { @apply text-emerald-600 bg-emerald-200 }
.label-warning { @apply text-orange-600 bg-orange-200 }
.label-info { @apply text-indigo-600 bg-indigo-200 }

.alert { @apply w-full flex justify-between py-2 px-4 rounded text-gray-600 bg-gray-200 items-center }
.alert-success { @apply text-emerald-600 bg-emerald-200 }
.alert-danger { @apply text-red-600 bg-red-200 }

.required-star { @apply text-xl text-red-500 }

div.flatpickr-calendar {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.flatpickr-day.selected {
    background: #4a2c98 !important;
    border-color: #4a2c98 !important;
}

.cur-year {
    display: none !important;
}

/*.btn-secondary { @apply bg-gray-100 text-black hover:bg-gray-200; }*/
/*.btn-danger { @apply bg-red-500 text-white hover:bg-red-600; }*/
/*.btn-warning { @apply bg-yellow-500 text-white hover:bg-yellow-600; }*/
/*.btn-success { @apply bg-green-500 text-white hover:bg-green-600; }*/

/*.checkbox { @apply focus:ring-secondary h-4 w-4 text-secondary border-gray-200 rounded-md block; }*/

/*.card { @apply bg-white border border-gray-200 overflow-hidden rounded-md shadow-sm; }*/
/*.card .title { @apply leading-none font-medium p-4 border-b border-gray-200 text-sm text-black; }*/
/*.card table:not(.regular-table) { @apply w-full text-sm text-gray-600; }*/
/*.card table:not(.regular-table) th { @apply font-bold text-xs px-2 py-2.5 text-left border-b border-gray-200 bg-white uppercase text-gray-800; }*/
/*.card table:not(.regular-table) th::after { @apply absolute left-0 right-0 h-px bg-gray-200; content: ""; bottom: -1px; }*/
/*.card table:not(.regular-table) td { @apply px-2 py-2.5 border-b border-gray-200; }*/
/*.card table:not(.regular-table).thick td { @apply py-4; }*/


.load-activity{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 45;
}

@keyframes loading {
    0%{
        left: -45%;
    }
    100%{
        left: 100%;
    }
}